@font-face {
    font-family: 'Lato';
    src: url("./font/Lato-Regular.ttf");
}

h2 {
    margin: 0;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    color: black;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    background-image: url("./images/boston.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
    min-height: 100%
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    padding: 20px;
    position: relative;
}

.name {
    font-size: 43px;
}

.intro, .about-me {
    font-size: 20px;
}

.runkeeper:hover {
    font-weight: bold;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
}

.link {
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 4px 20px;
    margin: 5px;
    text-decoration: none;
}

.link:hover {
    font-weight: bold;
}

@media screen and (min-width: 760px) {
    .name {
        font-size: 50px;
    }

    .intro, .about-me {
        font-size: 24px;
    }

    .links-wrapper {
        flex-direction: row;
    }

    .link {
        margin: 10px;
    }
}