@font-face {
    font-family: 'Lato';
    src: url("./font/Lato-Regular.ttf");
}

h2 {
    margin: 0;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    color: #000000;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    background-image: url("./images/boston.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    min-height: 100%
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    padding: 20px;
    position: relative;
}

.name {
    font-size: 30px;
}

.intro, .about-me {
    font-size: 20px;
}

.ted {
    font-weight: bolder;
}

.ted:hover {
    color: #d81f18;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
}

.link {
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 6px 20px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 5px #D3D3D3;
}

.link:hover {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    border: 2px solid #FFFFFF;
}

@media screen and (min-width: 760px) {
    .content-container {
        width: 60%;
    }
    
    .name {
        font-size: 48px;
    }

    .intro, .about-me {
        font-size: 24px;
    }

    .links-wrapper {
        flex-direction: row;
    }

    .link {
        margin: 12px;
        font-size: 18px;
    }
}